body{
    font-family: cursive;
}

#conteneur{
    width: 80%;
    margin: 10px auto;
    background-color: red;/* Cette couleur n'est plus visible à cause de la surcharge*/
    border: 2px solid #000;/* on pet écrire les hexadécimaux avec 3 caractères si ils sont tous identiques*/
}

header, footer{
    height: 80px;
    background-color: brown;
    color: #fff;
    text-align: center;
    padding-top: 6px;
}

nav{
    height: 40px;
    background-color: rgb(119, 40, 56);
    color: white;
    padding-left:20px;
    padding-top: 6px;
    text-align: center;
}

section{
    border: 20px solid #787746;
    background-color: #e6e2af;
    height: 500px;
    text-align: center;
}

p{
    margin: 0;
}