body{
    font-size: 26px;
}

#conteneur{
    width: 80%;
    margin: 0 auto;
    border: 2px solid green;
}

header{
    background-color: grey;
    height: 30px;
}

nav{
    background-color: ivory;
    height: 30px;
}

section{
    background-color: lightcoral;
    height: 50px;
    margin: 20px;
}

footer{
    background-color: lightsalmon;
    height: 100px;
}

.a,.b,.c,.d{
    width: 50%;
    height: 250px;
    float: left;
    
}

.a{
   background-color: lime;
    color: lime;
}

.b{
    background-color: mediumblue;
}

.c{
    background-color: mediumorchid;
}

.d{
    background-color: black;
}
    

clear{
    clear: both;
}