h1, h2, div, a, p , span, section{
    text-align: center;
    border: 1px solid orchid;
    background-color: paleturquoise;
}

.block{
    display: block;/* On modifie l'affichage de la balise pour qu'elle devienne de type block*/
}

.inline{
    display: inline;/* On modifie l'affichage de la balise pour qu'elle devienne de type inline*/
}