/* 
Media queries servent à faire d'une feuille de style un style adaptable à un petit/grand écran.
On appel breakpoiçnt les valeurs auxquelles le design casse.
On peut vérifier les tailles de navigateur sur viewportsizes.com
Cette page est conçu avec l'approche "mobile-first"
*/

.zone-adaptative{
    background-color: red;
    color: white;
    padding: 10px;
}

@media (min-width: 768px){
   .zone-adaptative{
       width: 750px;
       background-color: orange;
   } 
}

@media ( min-width: 992px){
    .zone-adaptative{
        width: 970px;
        background-color: blue;
    }
}

@media (min-width: 1200px){
    .zone-adaptative{
        width: 1170px;
        background-color: green;
    }
}